body {
margin:0;
font-family:Arial,sans-serif;
background:#f2f5f8;
color:#222;
}
header {
background:#003366;
color:white;
padding:25px;
text-align:center;
}
section {
width:92%;
margin:25px auto;
background:white;
padding:22px;
border-radius:10px;
}
#graficoVelocidad,#graficoDireccion {
width:100%;
height:520px;
}